.submit, .off{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit button{
    background-color: #d17914;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

.submit button:hover {
    color: #d17914;
    background-color: #fff;
    border: 2px solid #d17914;
}

.off button{
    background-color: #805b17;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}